*~
*.o
*.obj
*.fwd
*.map
*.mod
*.MOD
*.m
*.M
*.a
FoX-config
arch.make
config.log
config.status
objs
wcml_example
wxml_example
sax_example
sax_example_2
dom_example
dom_example_2
.FoX
.config
*.exe
.gdb_history
autom4te.cache
common/test/*.score
wxml/test/*.score
wcml/test/*.score
