language: python

python:
  - 2.7

sudo: false

cache:
  apt: true

addons:
  apt:
    sources:
      - kalakris-cmake
      - ubuntu-toolchain-r-test
    packages:
      - gfortran-4.9
      - cmake

env:
  matrix:
      # Using configure and make, run the tests.
    - >
      BUILD_SCRIPT="FC='gfortran -fno-backtrace' ./configure &&
      make -j 2 && make -j 2 check && ./testcheck.sh" COMPILER="gfortran"

      # Using cmake - just build, tests not working yet.
    - >
      BUILD_SCRIPT="mkdir cmake_build/ && cd cmake_build &&
      cmake ../ && make -j 2" COMPILER="gfortran"

      # Using configure and make and intel run the tests.
    - >
      BUILD_SCRIPT="FC='ifort -notraceback' ./configure &&
      make -j 2 && make -j 2 check && ./testcheck.sh" COMPILER="ifort"


install:
  - |
    if [[ "$COMPILER" == 'gfortran' ]]; then
      if [[ ! -d "$HOME/.local/bin" ]]; then
        mkdir -p "$HOME/.local/bin"
      fi
      export PATH="$HOME/.local/bin:$PATH"
      ls -l /usr/bin/gfortran-4.9
      export FC=/usr/bin/gfortran-4.9
      ln -fs /usr/bin/gfortran-4.9 "$HOME/.local/bin/gfortran" 
      gfortran --version
    elif [[ "$COMPILER" == 'ifort' ]]; then
      wget -q 'https://raw.githubusercontent.com/nemequ/icc-travis/master/install-icc.sh' 
      chmod u+x ./install-icc.sh
      ./install-icc.sh --components ifort
      source ~/.bashrc
    fi

script:
  - echo $BUILD_SCRIPT
  - bash <<<$BUILD_SCRIPT

after_script:
  - '[[ ! -z "${INTEL_INSTALL_PATH}" ]] && uninstall_intel_software'
